<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>CRUD App</h1>
        <form id="personForm">
            <input type="text" id="name" placeholder="Nome" required>
            <input type="number" id="age" placeholder="Idade" required>
            <button type="submit">Adicionar Pessoa</button>
        </form>
        <div id="peopleList"></div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
